<h1>リスト詳細ページ</h1>

<%= form_with model: @list do |f| %>
    <%= f.label :content %>
    <%= @list.content %>
<% end %>

<%= link_to "/lists/#{@list.id}/edit" do %>
    編集
<% end %>

<%= button_to '削除', list_path(@list), method: :delete, data: { confirm: '本当に削除しますか？' } %>