<head>
    <%= stylesheet_link_tag '/assets/edit_account.css', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<h2>プロフィール更新</h2>

<div class="edit-container">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="pending-confirmation">現在の確認待ちメールアドレス: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>
</div>